polkit.addRule(function(action, subject) {
    if (subject.user == "nthd"){
        if (action.id == "org.freedesktop.login1.power-off" ||
            action.id == "org.freedesktop.login1.power-off-multiple-sessions"){
            return polkit.Result.YES;
        }
    }
});